<h5>Send tokens to: {{ detail.data.owner}}</h5>
<div>Owner of address {{ detail.ethereumAddress }}</div>
<div>Current balance: {{ detail.data.tokenAmount }}</div>

<h3>Compensation</h3>
<form name="compensation_form"
      ng-submit="detail.createTransaction()">

  <input type="number"
         id="blabToSend"
         ng-model="detail.amountToSend"
         placeholder="blab amount"
         required/>

  <input type="submit"
         value="Send"
         class="btn btn-primary"
         ng-disabled="compensation_form.$invalid"/>

</form>
<hr>
<h3>Exchange Blab to Euro</h3>
<form name="exchange_form"
      ng-submit="detail.exchangeToEuro()">

  <input type="number"
         id="blabToExchange"
         ng-model="detail.amountToExchange"
         placeholder="amount to exchange"
         required/>

  <input type="submit"
         value="Send"
         class="btn btn-primary"
         ng-disabled="exchange_form.$invalid"/>

</form>